@import '../index.css';

.projects {
    height: 100%;
    width: 100vw;
    background-color: #111112;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: white;
    /* position: absolute; */
}

.projects>h1 {
    justify-self: flex-start;
}

.project-cards {
    width: 100%;
    height: auto;
    margin: 50px 0 50px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.project-card {
    width: 400px;
    height: 400px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: var(--primary);
    border-radius: 10px;
    padding: 10px;
    -webkit-box-shadow: 7px 6px 21px -9px rgba(97, 206, 111, 1);
    -moz-box-shadow: 7px 6px 21px -9px rgba(97, 206, 111, 1);
    box-shadow: 7px 6px 21px -9px rgba(97, 206, 111, 1);

}

.coder-bot {
    position: absolute;
    height: 400px;
    width: auto;
    opacity: 0.05;
    right: -10%;
    top: 10%;
}

#left {
    background-color: red;
}

#right {
    background-color: blue;
}