@import '../index.css';




.skills {
    min-height: 500px;
    width: 100vw;
    background-color: var(--primary);
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

}

.skills-content {
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: white;
}

.skills-content>h1 {
    margin-bottom: 1em;
    color: #111112;
}

.skills-content>p {
    margin: 100px 0 100px 0;
}

.skills-showcase {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.box {
    max-width: 300px;
    min-height: 200px;
    background-color: #111112;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    opacity: 0.8;
    text-align: center;
    -webkit-box-shadow: 10px 10px 21px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 21px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 21px -8px rgba(0, 0, 0, 0.75);
}

.box>h2 {
    margin-bottom: 10%;
    /* align-self: flex-start; */
    font-weight: 200;
}

.box>h2::after {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: red;
    opacity: 0.8;
    margin-top: -10px;
    margin-left: 6px;
}

.box-cert {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.certs {
    width: 50%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.cert {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.cert img {
    max-width: 70%;
}

.cert a {
    text-align: center;
    text-decoration: none;
    color: #111112;
}


.cert>h5 {
    color: #111112;
}