@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;400;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;600;900&family=VT323&display=swap');

/*
font-family: 'Encode Sans', sans-serif;
font-family: 'VT323', monospace;
*/



:root {
    --primary: #61ce70;
    --black: #1a1a1c;
    --white: #e7e7e7;
    --dark: #0c031b;
    --light: #34ddf8;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.home {
    height: 100%;
    width: 100%;
    /* background-color: var(--black); */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    font-family: 'VT323', monospace;
    font-size: 1.5em;
    overflow-y: scroll;
    overflow-x: hidden;
    /* align-items: center; */

}

.header {
    height: 80px;
    width: 100vw;
    background-color: #111112;
    border-bottom: 2px solid var(--primary);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 0 2em 0 2em;
    color: #e7e7e7;
}

.header>p {
    font-size: 2em;
}

.header>a {
    /* text-decoration: none; */
    color: var(--primary) !important;
}

.header a:visited {
    color: var(--primary);
}

.mo {
    /* font-weight: 600; */
    color: var(--primary);
    /* color: var(--dark); */
}

.navbar {
    list-style: none;
    margin-left: auto;
    margin-right: 4em;
    display: flex;
    flex-flow: row nowrap;
}

.navbar>li {
    font-weight: 600;
    margin-right: 1.5em;
}

.body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: #111112;
    /* background-color: #61ce70; */
    /* background-image: url('./assets/retrogrid-bg.jpg'); */
    /* background-repeat: no-repeat;
    background-size: contain; */
    /* background-position: 2em; */
    /* background: rgb(12, 3, 27);
    background: linear-gradient(180deg, rgba(12, 3, 27, 1) 46%, rgba(52, 221, 248, 1) 100%); */

}

.about {
    height: 100%;
    width: 80%;
    padding-top: 120px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    /* background-color: #0c031b; */
}

.intro-text {
    color: #e7e7e7;
    width: 60%;
    margin-top: -2em;
    line-height: 1.2em;
}

.hi {
    color: var(--primary);
    font-weight: 100;
}

.hi::after {
    content: '';
    display: block;
    width: 38%;
    height: 4px;
    background-color: rgb(205, 44, 44);
    margin: -5px 0 0 4px;
}

.about>img {
    height: 600px;
    width: auto;
    margin-left: auto;
}

.skills {
    height: 500px;
    width: 100vw;
    background-color: var(--primary);
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

}

.skills-content {
    width: 50%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: white;
}

.skills-content>p {
    margin: 100px 0 100px 0;
}

.skills-showcase {
    height: 100%;
    width: 80vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.box {
    width: auto;
    height: 200px;
    background-color: #111112;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    opacity: 0.8;
}

.box>h2 {
    margin-bottom: 10%;
    align-self: flex-start;
    font-weight: 200;
}

.box>h2::after {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: red;
    opacity: 0.8;
    margin-top: -10px;
    margin-left: 6px;
}





/* Social Buttons */

.social-btns {
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1.2em;
}

.link-btn {
    height: 40px;
    width: 180px;
    border-radius: 10px;
    background-color: var(--primary);
    -webkit-box-shadow: 10px 10px 22px -14px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 22px -14px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 22px -14px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 1.4em;
    font-size: 0.8em;
}

.projects {
    height: 400px;
    width: 100vw;
    background-color: #111112;
}


/* Spacer Design Classes */

.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: -1%;
}

.layer1 {
    background-image: url(./assets/bg-spacer.svg);
}

.layer2 {
    margin-top: -1%;
    background-image: url(./assets/bg-spacer-2.svg);
}